.breadcrumbs
    font-size: 0
    margin-bottom: 20px

.breadcrumbs--dash
    .breadcrumbs__item
        &:not(:last-child)
            &:after
                content: "-"

.breadcrumbs--slash
    .breadcrumbs__item
        &:not(:last-child)
            &:after
                content: "/"

.breadcrumbs__item
    display: inline-block
    font-size: 14px
    &:after
        margin-left: 5px
        margin-right: 5px
