.btn,
button,
input[type="submit"]
    background-color: $primary-brand-color
    border: none
    color: #fff
    display: inline-block
    margin: 0
    padding: 10px 20px
    text-align: center
    width: auto
    &:hover
        background-color: darken($primary-brand-color, 5)

a.btn
    cursor: default
    text-decoration: none
    &:hover
        cursor: default
        text-decoration: none
