.footer
    overflow-x: hidden
    padding-top: $section-padding-top

.footer__upper
    padding-bottom: $section-padding-bottom

.footer__lower
    background-color: $primary-font-color

.footer__inner
    align-items: center
    color: #fff
    display: flex
    +m-breakpoint(sm xmd)
        flex-wrap: wrap
        justify-content: center
        padding: 20px 0
        text-align: center
    +m-breakpoint(xmd)
        height: 60px

.footer__logo
    .logo
        height: 30px
        margin-right: 20px

// .footer__copyright

.footer__catchphrase
    color: $primary-brand-color
    font-family: "Miglia-Fur", sans-serif
    margin-bottom: 0
    text-transform: uppercase
    +m-breakpoint(sm xmd)
        flex: 1 1 100%
    +m-breakpoint(xmd)
        margin-left: auto
        margin-top: 0
