.footer
    background-color: #363636

.footer__inner
    align-items: center
    color: #fff
    display: flex
    height: 60px


.footer__logo
    .logo
        height: 30px
        margin-right: 20px

// .footer__copyright

.footer__catchphrase
    margin-left: auto
    color: $primary-brand-color
