.header
    &.is-fixed
        height: 0
        position: fixed
        top: 0
        width: 100%
        z-index: 2

.header__inner
    background-color: rgba(#000, 0.75)

.header__wrapper
    align-items: center
    color: #fff
    display: flex
    height: $header-height
    +m-breakpoint(sm xmd)
        flex-wrap: wrap
        justify-content: center
        padding: 10px 0
        text-align: center
        height: $header-height-mobile

.header__logo,
.header__icon,
.header__nav
    // flex: 1 1 50%
    +m-breakpoint(xmd)
        flex: 1 1 0%

// .header__logo,
// .header__icon


.header__logo
    margin: 0
    +m-breakpoint(sm xmd)
        margin-left: auto
        margin-right: 10px

    img
        height: 30px

.header__icon
    +m-breakpoint(sm xmd)
        margin-right: auto
        margin-left: 10px
    img
        height: 25px
        +m-breakpoint(xmd)
            height: 30px

.header__icon
    text-align: center

.header__nav
    margin: 0 auto
    +m-breakpoint(sm xmd)
        flex: 1 1 100%
        margin-top: 10px

.header__list
    display: flex
    justify-content: center
    +m-breakpoint(xmd)
        justify-content: flex-end

.header__list__item
    list-style-type: none
    &:not(:last-child)
        margin-right: 20px

.header__list__link
    color: #fff
    font-size: 13px
    text-decoration: none
    text-transform: uppercase
    &:hover
        text-decoration: underline
