.hero
    color: #fff
    left: 20px
    margin: 2em
    position: absolute
    right: 20px
    text-shadow: 0px 0px 10px #000
    top: 50%
    transform: translateY(-50%)

.hero__title
    font-family: 'Miglia-Fur', sans-serif
    font-size: 55px
    line-height: 51px
    margin-bottom: 20px

.hero__subtitle
    text-transform: uppercase
    line-height: 1.4
    +m-breakpoint(md)
        max-width: 40%

.hero__blockquote
    font-size: 30px
    margin: 0
    text-transform: uppercase
    +m-breakpoint(md)
        max-width: 40%

.hero__blockquote__text
    margin-top: 0

.hero__blockquote__footer
    font-size: 20px

// .hero__blockquote__footer__cite
