.hero
    color: #fff
    font-family: 'Miglia-Fur', sans-serif
    left: 20px
    margin: 20px
    position: absolute
    right: 20px
    text-shadow: 0px 0px 10px #000
    top: 50%
    transform: translateY(calc(-50% -(20px/2)))

.hero__title
    font-size: 55px
    line-height: 1
    margin-bottom: 20px
    +m-breakpoint(lg)
        font-size: 70px

.hero__subtitle
    font-size: 20px
    line-height: 1.2
    text-transform: uppercase
    +m-breakpoint(md)
        max-width: 40%
    +m-breakpoint(lg)
        font-size: 30px

.hero__blockquote
    font-size: 20px
    line-height: 1
    margin: 0
    text-transform: uppercase
    +m-breakpoint(md)
        max-width: 60%
    +m-breakpoint(xmd)
        font-size: 30px
        max-width: 40%
    +m-breakpoint(lg)
        font-size: 40px

.hero__blockquote__text
    margin-top: 0

.hero__blockquote__footer
    font-size: 20px

// .hero__blockquote__footer__cite
