input,
textarea
    background-color: #eee
    border: 1px solid transparent
    font-family: 'Raleway', sans-serif
    font-size: 14px
    margin-bottom: 20px
    padding: 4px
    width: 100%
    
textarea
    resize: vertical
    
label
    display: block

label input,
label textarea
    margin-top: 5px

button,
input[type="submit"]
    background-color: $primary-brand-color
    border: none
    color: #fff
    padding: 10px 20px
    width: auto
