// .product

.product--t-shirts
    .product__image
        img
            transform-origin: top center

.product--tote-bags
    .product__image
        img
            transform-origin: bottom center

.product__image
    overflow: hidden
    margin: 20px
    &:hover
        img
            transform: scale(1.5)

    img
        transition: transform 0.25s ease-in-out 0.1s

.product__model
    color: #363636
    font-size: 13px
    margin-bottom: 4px
    position: relative
    text-transform: uppercase
    &:before
        background-color: #363636
        content: ""
        display: block
        height: 2px
        margin-bottom: 10px
        margin-left: auto
        margin-right: auto
        width: 85px


.product__gender {
    color: #363636
    font-size: 11px
    margin-bottom: 4px
    text-transform: uppercase
}


.product__price
    font-size: 23px
    color: $primary-brand-color
