.product
    position: relative
    text-align: center

    &.coming-soon
        .product__image
            position: relative

            &:hover
                img
                    transform: none

            &:before
                background-color: #fff
                content: ""
                height: 100%
                left: 0
                opacity: 0.55
                position: absolute
                top: 0
                width: @height
                z-index: 1

            &:after
                color: inherit
                content: "Coming soon..."
                font-size: 20px
                font-weight: bold
                left: 50%
                line-height: 0.8
                position: absolute
                text-shadow: 0 1px 1px #fff
                top: 50%
                transform: translate(-50%, -50%)
                transform-origin: center left
                z-index: 2

.product--t-shirts,
.product--sweatshirts
    .product__image
        img
            transform-origin: top center

.product--tote-bags
    .product__image
        img
            transform-origin: center center

.product--tote-bags
    .product__image
        img
            transform-origin: bottom center

.product--big
    .product__image
        margin: 0

        &:hover
            img
                transform: none

        img
            transition: none

.product__header
    margin-bottom: 20px
    text-align: center
    text-transform: uppercase

.product__text
    font-size: 13px
    line-height: 18px

.product__image
    margin: 20px
    overflow: hidden
    position: relative

    +m-breakpoint(md)
        &:hover
            img
                transform: scale(1.5)

        img
            transition: transform 0.25s ease-in-out 0.1s

    a
        display: block

.product__separator
    background-color: $primary-font-color
    border: none
    display: block
    height: 2px
    margin: 10px auto
    width: 85px

.product__separator--big
    margin: 40px auto

.product__model
    font-size: 14px
    font-weight: bold
    margin-bottom: 5px
    position: relative
    text-transform: uppercase

.product__message
    font-weight: bold

    &:before,
    &:after
        font-size: 16px

    &:before
        content: open-quote
        margin-right: 2px

    &:after
        content: close-quote
        margin-left: 2px

.product__gender
    font-size: 12px
    text-transform: uppercase

.product__price
    color: $primary-brand-color
    font-size: 24px !important

    del
        font-size: 0.8em
        opacity: 0.5

.product__stock
    color: #3c763d
    font-size: 12px
    font-weight: bold
    margin-top: 10px
    text-transform: uppercase

    .product-tag__item &
        font-size: 14px

.product__stock--no-stock
    color: #a94442

.product__stock--preorder
    color: $primary-font-color

.product__sizes__title
    display: block
    margin-bottom: 5px

.product__sizes__list
    display: block
    font-size: 0
    margin-left: 10px

.product__sizes__list__item
    align-items: center
    display: flex
    font-size: 14px

.product__sizes__list__item__size
    width: 30px

.product__sizes__list__item__separator
    margin-left: 5px
    margin-right: 10px

.product__sizes__list__item__stock-status
    font-weight: bold

    .product__sizes__list__item &
        font-size: 0.8em

    &.in-stock
        color: #3c763d

    &.out-of-stock
        color: #a94442

.product__buy-btn
    width: 100%

.product__tag
    margin: 20px

    +m-breakpoint(sm md)
        margin: 0

.product-tag__item
    font-size: 14px
    margin-bottom: 20px
    text-transform: uppercase

.product-tag__item__note
    font-size: 12px
    position: relative
    text-transform: initial

    .asterisk
        font-size: 30px
        margin-top: -5px
        position: absolute

    .text
        margin-left: 10px

.products-related__link
    color: $primary-font-color
    display: block

    &:hover
        color: $primary-font-color
        text-decoration: none

.products-related__list__item
    margin-bottom: 20px
    text-align: center

.product-tag__icons-list
    m-clearfix()
    margin-bottom: 20px

.product-tag__icons-list__item
    float: left
    padding: 10px

    > img
        height: 50px

.product__no-stock
    background-color: #fff
    height: 100%
    left: 0
    opacity: 0.75
    position: absolute
    top: 0
    width: 100%
    z-index: 1

.product__label
    align-items: center
    background-color: #000
    border: 1px solid #000
    border-radius: 50%
    color: #fff
    display: flex
    font-size: 10px
    font-weight: bold
    height: 60px
    justify-content: center
    padding: 5px
    pointer-events: none
    position: absolute
    right: 0
    text-transform: uppercase
    top: 0
    width: @height
    z-index: 1

    .products-related__list__item &
        font-size: 6px
        height: 40px
        width: @height

.product__label--no-stock
    background-color: #000
    border: 1px solid #000
    color: #fff

.product__label--discount
    background-color: transparent
    border: 1px solid $primary-brand-color
    color: $primary-brand-color

.product__label--new
    background-color: $primary-brand-color
    border: 1px solid $primary-brand-color
    color: #fff
