.section
    padding-bottom: $section-padding-bottom
    padding-top: $section-padding-top
    position: relative
    &:first-child
        margin-top: $header-height
        +m-breakpoint(sm xmd)
            margin-top: $header-height-mobile

.section__title
    font-family: 'Miglia-Fur', sans-serif
    font-size: 30px
    margin-bottom: 20px
    margin-top: 0
    text-align: center
    text-transform: uppercase

    .products-related &,
    .footer &
        text-align: left

.section__title--big
    font-size: 50px

.section__title--small
    font-size: 16px

.section__text
    color: $primary-font-color
    font-size: 14px
    line-height: 1.4
    margin-left: auto
    margin-right: auto
    text-transform: uppercase
    +m-breakpoint(md)
        font-size: 16px

.section--shadow
    padding: 0
    &:after
        background-color: #000
        content: ""
        display: block
        height: 100%
        left: 0
        opacity: 0.25
        position: absolute
        top: 0
        width: 100%
        +m-breakpoint(xmd)
            opacity: 0.05

.section--1
    background-image: url("../assets/bg_img1.jpg")
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    height: 75vh
    margin-top: 0 !important
    img
        max-height: 75vh
        max-width: 50%
        position: absolute
        top: 50%
        transform: translateY(calc(-50% + (60px/2))) // 60px is $header-height
        +m-breakpoint(sm xmd)
            left: 50%
            max-height: 35vh
            max-width: 90%
            transform: translate(-50%, calc(-50% + (85px/2))) // 85px is $header-height
    +m-breakpoint(xmd)
        height: 90vh

.section--2
    text-align: center

    .icon
        margin-bottom: 25px
        width: 80px
        +m-breakpoint(md)
            width: 100px
        +m-breakpoint(xmd)
            width: 130px

    .section__text
        margin-left: auto
        margin-right: auto
        +m-breakpoint(md)
            max-width: 75%

.section--3
    background-image: url("../assets/bg_img7.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    height: 50vh
    +m-breakpoint(lg)
        height: 75vh

.section--4
    text-align: center

    .section__text
        margin-left: auto
        margin-right: auto
        max-width: 75%

.section--5
    background-image: url("../assets/bg_img3.jpg")
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    height: 50vh
    +m-breakpoint(lg)
        height: 75vh
