.slideshow
    background-position: right center
    background-repeat: no-repeat
    background-size: cover
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

    +m-breakpoint(md)
        background-position: center center

    +m-breakpoint(sm md)
        &[style*="rights-wrongs-bg-01.jpg"]
            background-position: center center

        &[style*="save-animals-bg-02.jpg"]
            background-position: center center

        &[style*="save-animals-bg-04.jpg"]
            background-position: center center

        &[style*="save-animals-bg-08.jpg"]
            background-position: center center

        // &[style*="summer-collection-1.jpg"]
        //     background-position: center center

        &[style*="summer-collection-2.jpg"]
            background-position: center center

        // &[style*="summer-collection-3.jpg"]
        //     background-position: center center

        // &[style*="summer-collection-4.jpg"]
        //     background-position: center center

        &[style*="tofu-bg-01.jpg"]
            background-position: center center
