@font-face {
    font-family: 'Raleway';
    src: url('hinted-Raleway-Regular.woff2') format('woff2'),
        url('hinted-Raleway-Regular.woff') format('woff'),
        url('hinted-Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('hinted-Raleway-Bold.woff2') format('woff2'),
        url('hinted-Raleway-Bold.woff') format('woff'),
        url('hinted-Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('hinted-Raleway-Light.woff2') format('woff2'),
        url('hinted-Raleway-Light.woff') format('woff'),
        url('hinted-Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

