m-responsive-video($value = "16-9")
    height: 0
    padding-top: $ratio + "-" + $value
    position: relative

    > iframe,
    > video,
    > object
        left: 0
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 100%
