html
    box-sizing: border-box

*,
*:before,
*:after
    box-sizing: inherit

body
    font-family: 'Raleway', sans-serif

ul,
li
    list-style-type: disc
    margin: 0
    padding: 0

img
    height: auto
    max-width: 100%

a
    color: #6fd6f4
    text-decoration: none

a
    &:hover
        text-decoration: underline

.amapola-link
    display: inline-block

    img
        display: block
        margin-left: auto
        margin-right: auto
