html,
body
    height: 100%

html
    box-sizing: border-box

*,
*:before,
*:after
    box-sizing: inherit

body
    color: $primary-font-color
    font-family: "Raleway", Helvetica, Arial, sans-serif
    // overflow-x: hidden

ul,
li
    list-style-type: none
    margin: 0
    padding: 0

img
    height: auto
    max-width: 100%

a
    color: $primary-brand-color
    text-decoration: none

a
    &:hover
        text-decoration: underline

.amapola-link
    display: inline-block

    img
        display: block
        margin-left: auto
        margin-right: auto
        width: 90%

    .product__text &,
    .section__text &
        margin-bottom: -1em
