@font-face
    font-family: "Miglia-Fur"
    src:url("../assets/fonts/migliafur/Miglia-Fur.ttf.woff") format("woff"),
        url("../assets/fonts/migliafur/Miglia-Fur.ttf.svg#Miglia-Fur") format("svg"),
        url("../assets/fonts/migliafur/Miglia-Fur.ttf.eot"),
        url("../assets/fonts/migliafur/Miglia-Fur.ttf.eot?#iefix") format("embedded-opentype")
    font-weight: normal
    font-style: normal
