$header-height = 60px
$header-height-mobile = 85px
$section-padding-bottom = 60px
$section-padding-top = 30px
$wrapper-padding = 20px

$breakpoints = {
    sm:     0,
    xsm:    321px,
    md:     641px,
    xmd:    769px,
    xxmd:   1025px,
    lg:     1281px,
    xlg:    1440px,
    xxlg:   1920px
}

$ratio-1-1 = 100%
$ratio-1-2 = 200%
$ratio-16-9 = 56.25%
$ratio-16-10 = 62.5%
$ratio-2-1 = 50%
$ratio-4-3 = 75%
